body{
	padding: 0;
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 60%;
	padding-top: 120px;

}


h1{
	color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 18pt;
	text-align: center;
}

.container_two{
	margin: 0 auto;
	width: 100%;
	padding-top: 120px;
	display: inline-block;
}

button{
	
	width: 150px;
	height: 150px;
	border: 2px solid black;
}
#one{
	float: left;
}

#sred{
	margin-right: 25%;
	margin-left: 25%;
}

#two{
	float: right; 
}

#hb{
	padding-top: 100px;
}

.footer{
	padding-top: 500px;
	width: 100%;
	text-align: center;
}

#cheat{
	width: 50px;
	height: 10px;
	border: 2px solid black;
}